<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="your_project_name.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="lib;libs" />
    </assemblyBinding>
  </runtime>
  <appSettings>
    <!-- *******PLEASE CHANGE ONLY VALUE****** -->
    <!-- UsePaletteMode (0-false, 1-true)  -->
    <add key="UsePaletteMode" value="0"/>
    <!-- WeekDaysLanguage (0-English, 1-SimpleChinese, 2-Chinese)  -->
    <add key="WeekDaysLanguage" value="0"/>
    <!-- Default 500 in miliseconds (50-1000) -->
    <add key="PreviewSpeed" value="500"/>
    <!-- Force image compressor (0-off, 1-on)! If image not marked as raw it will be compressed. -->
    <add key="ForceImageCompressor" value="1"/>
  </appSettings>
</configuration>
